body {
    font-family: 'Work Sans', sans-serif !important;
    background-color: rgb(203, 248, 248) !important;
}

h1 {
    font-weight: 800 !important;
    font-size: 60px !important;
}

h3 {
    font-size: 20px !important;
}

i {
    font-size: 30px;
    padding: 10px;
    margin-right: 10px;
}

.form-control {
    font-size: 14px !important;
}

#quick_add .btn {
    margin: 5px !important;
    font-size: small;
    
}

#totals .btn {
    margin: 5px !important;
    font-size: small;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  
  margin: 0; }



   /* Designing for scroll-bar */
   ::-webkit-scrollbar {
    width: 10px;
    position: static;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

/* Handle on hover */

#container {
    display: inline-flex;
}

  #groceries {
      background-color: white;
      padding-top: 15px;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20x;
      width: 75%;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      height: 90vh;
  }

  #title {
      margin: 20px;
  }

  #instructions {
      text-align: center;
      font-size: 14px;
      background-color: rgb(238, 236, 236);
      width: 70%;
      margin: auto;
      border-radius: 25px;
      padding: 10px;
  }

  #lists {
    overflow-x:hidden;
    overflow-y:auto;
    height: 150px;
    margin: auto;
  }

#total_items, #total_price {
    text-align: center;
    font-size: 3rem;
}

#all_items, #all_prices {
    text-align: center;
}

#quick_add{
    padding: 25px;
    align-items: center;
    justify-content: space-around;
}

#totals {
    padding: 20px;
}

#count {
    text-align: center;
    font-weight: 300;
}




/* * {
    padding: 0;
    margin: 0;
}

body {
    background-color: blueviolet;
    font-family: 'Coming Soon', cursive;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#groceries {
    margin-top: 30px;
    padding: 30px;
    background-color: white;
    width: 50%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.50);  
}

#title {
    padding: 20px;
}

i {
    padding: 10px;
}

#all_items {
    text-align: center;
    padding: 20px;
}

#all_prices {
    text-align: center;
    padding: 20px;
}

#user_input_item {
    outline: none;
    border: none;
    border-bottom: 3px solid black;
    width: 200px;
    font-family: 'Coming Soon', cursive;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#user_input_price {
    outline: none;
    border: none;
    border-bottom: 3px solid black;
    width: 100px;
    font-family: 'Coming Soon', cursive;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

#lists {
    display: inline-flex;
    
}
#totals {
    display: inline-flex;
    margin: 20px;
    
}

#count {
    padding: 20px;
} */